@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    /* screen */
    --mobile: 375px;
    --desktop: 1440px;
    
    /* fonts */
    --ubuntu: 'Ubuntu', sans-serif;
    --overpass: 'Overpass', sans-serif;
    --font-size: 16px;

    /* primary text */
    --primary-light-red: hsl(356, 100%, 66%); 
    /* primary hover */
    --primary-very-light-red: hsl(355, 100%, 74%);
    /* primary headings */
    --primary-very-dark-blue: hsl(208, 49%, 24%); 
    
    /* text */
    --neutral-white: hsl(0, 0%, 100%);
    /* footer text */
    --neutral-grayish-blue: hsl(240, 2%, 79%);
    /* body copy */
    --neutral-very-dark-grayish-blue: hsl(207, 13%, 34%);
    /* footer background */
    --neutral-very-dark-black-blue: hsl(240, 10%, 16%);

    /* background gradient intro/CTA mobile nav */
    --very-light-red: hsl(13, 100%, 72%);
    --light-red: hsl(353, 100%, 62%);

    /* background gradient body */
    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    max-width: var(--desktop);
    margin: 0 auto;
    font-size: var(--font-size);
    font-family: var(--overpass);
}

/* HEADER */
header { 
    position: relative;
    background-image: url("./images/bg-pattern-intro.svg"), linear-gradient(to right, var(--very-light-red) 20%, var(--light-red) 60%);
    background-position: 28% 52%;
    background-size: 230%;
    height: 530px;
    width: 100%;
    border-bottom-left-radius: 20mm;
    color: var(--neutral-white);
}

nav {
    display: flex;
    flex-direction: row;
}

nav img {
    height: 40px;
    margin: 3em 3em 3em 9em;
}

nav ul {
    display: flex;
    margin-top: 3em;
}

nav ul li {
    display: flex;
    flex-direction: row;
    font-family: var(--ubuntu);
    padding: 1em;
    margin: 0 0.5em;
    cursor: pointer;
}

nav ul li > div {
    margin: 5px 0 0 8px;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

nav > div {
    position: absolute;
    top: 3.6em;
    right: 9em;
}

nav button {
    border: 1px solid white;
    background: transparent;
    color: var(--neutral-white);
    padding: 10px 30px;
    border-radius: 20mm;
    border: none;
    transition: .2s ease-in-out;
    cursor: pointer;
}

nav button:nth-child(2) {
    background: var(--neutral-white);
    color: var(--primary-light-red);
}

nav button:nth-child(2):hover {
    background: var(--primary-very-light-red);
    color: var(--neutral-white);
}

/* SECTION ONE */
.section-one {
    color: var(--neutral-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-one h1 {
    font-size: 4em;
    padding-top: 1em;
}

.section-one p {
    padding: 1em;
    font-size: 1.5em;
}

.section-one button {
    border: 1px solid var(--neutral-white);
    background: transparent;
    color: var(--neutral-white);
    padding: 10px 15px;
    border-radius: 20mm;
    transition: .2s ease-in-out;
    cursor: pointer;
    margin: 1.5em;
}

.section-one button:nth-child(1) {
    background: var(--neutral-white);
    color: var(--primary-light-red);
    border: none;
}

.section-one button:nth-child(1):hover {
    background: var(--primary-very-light-red);
    color: var(--neutral-white);
}

.section-one button:nth-child(2):hover {
    background: var(--neutral-white);
    color: var(--primary-light-red);
}

/* SECTION TWO */
.section-two {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: var(--primary-very-dark-blue);
}

h2 {
    font-size: 2.3em;
}

.section-two h2 {
    padding: 4em 0 2em 0;
}

.section-two > div {
    display: flex;
    flex-direction: row;
}

.section-two > div > div {
    margin: -.6em 0 0 26em;
    width: 500px;
}

h3 {
    font-size: 1.6em;
}

.section-two h3 {
    padding: 2em 0 1em 0;
}

.section-two p {
    padding-bottom: .6em;
}

.section-two > div img {
    margin: -12em 0 0 7em;
}

/* SECTION THREE */
.section-three {
    position: relative;
    background: var(--very-dark-desaturated-blue);
    background-image: url("./images/bg-pattern-circles.svg"), linear-gradient(to right, var(--very-dark-gray-blue), var(--very-dark-desaturated-blue));;
    background-position: -38% 80%;
    background-size: 65%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 20mm;
    border-top-right-radius: 20mm;
    height: 400px;
    width: 100%;
    margin-top: 3.6em;   
}

.section-three > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.section-three img {
    margin-top: -4em;
}

.section-three > div > div {
    margin: -9em 0 0 -17em;
    color: var(--neutral-white);
    width: 500px;
}

.section-three h2 {
    padding: .8em 0;
}

p {
    line-height: 30px;
}

/* SECTION FOUR */
.section-four {
    margin-top: 8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    overflow: hidden;
    color: var(--primary-very-dark-blue);
}

.section-four img {
    margin: 0 0 0 -19em;
}

.section-four > div {
    margin: 2em 0 0 -16em;
}

.section-four > div div {
    margin: 5em 0;
    width: 500px;
}

.section-four h3 {
    padding-bottom: 1em;
}

/* FOOTER */
footer {
    background: var(--neutral-very-dark-black-blue);
    position: relative;
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5em 10em;
    overflow: hidden;
    color: var(--neutral-white);
    border-top-right-radius: 20mm;
    margin: 6em 0 0 0;
}

footer img {
    margin-top: -1em;
}

footer > ul > li {
    color: var(--neutral-white);
    font-weight: 900;
    margin-bottom: 1.6em;
}

footer ul ul li {
    padding-bottom: 1em;
    color: var(--neutral-grayish-blue);
}

.underline li:hover {
    text-decoration: underline;
    cursor: pointer;
}